streamlit==1.34.0
streamlit-folium==0.17.0
folium==0.15.1

# --- stack geoespacial (versões mais leves / compatíveis) ---
geopandas==0.12.2
shapely==1.8.5.post1
pyproj==3.4.1
fiona==1.8.22
# rtree opcional, comentar se der erro de spatialindex
rtree==0.9.7

# dependências de base (compatíveis com geopandas 0.12)
pandas==1.4.4
numpy==1.23.5 